<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro o inicio de sesion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/estiloRegistro.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/selectTagUni.css') }}" />
</head>
<body>
    <div class="contenedor-form">
        <div class="toggle">
            <span> Crear Cuenta</span>
        </div>

        <div class="formulario">
            <h2>Iniciar Sesión</h2>
            <form action="/iniciandoSesion" method="POST" name="login">
                <input type="text" name="nombreInicio" placeholder="Correo" required>
                <input type="password" name="contraInicio" placeholder="Contraseña" required>
                <input type="submit" value="Iniciar Sesión">
            </form>
        </div>

        <div class="formulario">
            <h2>Crea tu Cuenta</h2>
            <form action="/registrandote" method="POST" name="registro">
                <label>Universidad</label>
                <div class="custom-select" style="width:200px;">
                    <select name="nombreUni">
                        {% for e in listaU %}
                            <option value="{{ e }}">{{ e }}</option>
                        {% endfor %}
                    </select>
                </div>
                <script type=text/javascript src="{{ url_for('static', filename='js/selectTagUni.js') }}"></script>
                <br><br>
                <input type="text" name="nombre" placeholder="Correo" required>

                <input type="password" name="contra" placeholder="Conraseña" required>

                <input type="submit" value="Registrarse">
            </form>
        </div>
        <div class="reset-password">
            <a href="#">¿Olvidaste tu contraseña?</a>
        </div>
    </div>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>