<!DOCTYPE html>
<html lang="en">
<head>
	<!--Colores: negro,auzl,blanco y  verde-->

	<meta charset="UTF-8">
	<title>Compara Universidades</title>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	
	<!--  -->
	<!-- JQUERY--->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<!-- CSS de boostrap--->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" />

</head>

<body>
	<header>
		<!---------------------------------BARRA1---------------------------------------->
		<div class="container ">
		
			<nav class="barra1 navbar navbar-expand-sm navbar-ligth bg-ligth row">
			<ul class="navbar-nav col-md-8">
					<li class="nav-item">
					<!-- link -->
						<a class="nav-link navbar-brand" href="/"> <img src="{{url_for('static', filename='css/Media/logo.png')}}" border='0'/></a>
					</li>
					
					
			</ul>
			<form class="form-inline my-2 my-lg-0 ">
			      <input class="form-control mr-sm-2" type="search" placeholder="Universidad">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
			    </form>
		</nav>

		</div>

		<!---------------------------------BARRA2---------------------------------------->
		<!-- La etiqueta <nav> define un conjunto de enlaces de navegación. -->
		<!-- barra de navegacion que se colapse en md -->
		<div class="container">
			<nav class="navbar navbar-expand-md navbar-dark bg-dark">


			<!-- Creamos el boton que parece cuando colapsa -->
			<button class="navbar-toggler" data-toggle="collapse" data-target="#colapsar"> 
				<span class="navbar-toggler-icon"></span>
			</button>

		<!-- agregamos los links al boton que colapsa -->
			<div class="collapse navbar-collapse" id="colapsar">
				
				<!-- La etiqueta <li> se usa en listas ordenadas ( <ol> ), listas desordenadas ( <ul> ) y en listas de menú -->
				<ul class="navbar-nav">
					<li class="nav-item">
					<!-- link -->
						<a class="nav-link" href="/"> Home</a>
					</li>
					<li class="nav-item">
					<!-- link -->
						<a class="nav-link" href="/universidades"> Universidades</a>
					</li>
					<li class="nav-item">
					<!-- link -->
						<a class="nav-link" href="/top10"> Top 10</a>
					</li>
					<li class="nav-item">
					<!-- link -->
						<a class="nav-link" href="/registroLogin"><span class="glyphicon glyphicon-user"></span> Iniciar Sesion / Registrarse </a>
					</li>
					
				</ul>

			</div>
			</nav>
		</div>
	</header>	



	<div class="container"><!-- todo va dentro de un container-->
		<section class="main-admin row justify-content-md-center"><!--agrupamos todo en un main -->
               			     
               			      <!-- min / peque  / mediano / grande-->  
		<form action="/action_page.php">
		  <div class="form-group form-inline ">
		    <label for="nombre" > Nombre de la universidad : </label>
		    <input type="text" class="form-control" id="nombre">
		    <button type="buscar" class="btn btn-primary">Buscar</button>
		  </div>
		
		  <div class="form-group ">
		    <label for="pwd">Carreras :</label>
		    <input type="text" class="form-control" id="carreras">
		  </div>



		  <div class="form-group ">
		    <label for="pwd">Talleres:</label>
		  </div>
		  <div class="form-group form-check">
		    <label class="form-check-label">
		      <input class="form-check-input" type="checkbox"> Deportivos
		    </label>
		  </div>

		  <div class="form-group form-check">
		    <label class="form-check-label">
		      <input class="form-check-input" type="checkbox"> Culturales
		    </label>
		  </div>
		  <div class="form-group form-check">
		    <label class="form-check-label">
		      <input class="form-check-input" type="checkbox"> Academicos
		    </label>
		  </div>
			
		 <div class="form-group form-inline ">
		    <label for="nombre"> Puntuacion : </label>
		    <input type="text" class="form-control" id="puntuacion">
		    
		  </div>

		  <div class="form-group form-inline ">
		    <label for="nombre"> Puesto : </label>
		    <input type="text" class="form-control" id="puesto">
		    
		  </div>



		  <div class="form-group form-inline ">
			 <button type="submit" class="btn btn-success">Agregar</button>
			 <button type="submit" class="btn btn-primary">Modificar</button>
			 <button type="submit" class="btn btn-danger">Eliminar</button>
		 
		    
		  </div>

		</form>
		
		

		 </section>
	</div>	
     



	

	<footer>
		
	</footer>

<!-- JAVASCRIP--->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>