<!-- Edit Modal HTML -->
{% with messages= get_flashed_messages() %}
	{% if messages %}
		{% for meessage in messages %}
			<h1>{{ meessage }}</h1>
		{% endfor %}
	{% endif %}
{% endwith %}
	<div id="editEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form method="POST" action="{{url_for('editarTaller')}}" >

					{% for e in taller %}
                    <div class="modal-body">
						<div class="form-group">

                            <label>ID Taller</label>
							<input type="text" readonly value={{e[0]}} class="form-control" name="idTaller" required>
						</div>
						<div class="form-group">
                            <div class="form-group">

                            <label>Universidad anterior: </label>
							<input type="text" readonly value={{uniAnterior}} class="form-control" name="uniAnterior" required>
						</div>
						<div class="form-group">
							<label>Universidad</label>
                            <select name="nombreUni">

                        {% for universidad in universidades %}
                            <option>{{ universidad[2] }}</option>
                        {% endfor %}
                    </select>
						</div>
							<div class="form-group">
							<label>Nombre anterior Taller:</label>
							<input type="text" readonly class="form-control" name="nombreAnterior" value={{e[2]}} required>
						</div>
						<div class="form-group">
							<label>Taller</label>
							<input type="text" class="form-control" name="nombreEditado" value={{e[2]}} required>
						</div>
							<div class="form-group">

                            <label>Tipo de taller anterior: </label>
							<input type="text" readonly value={{e[3]}} class="form-control" name="tipoAnterior" required>
						</div>
					</div>
                    {% endfor %}

						<select name="tipoTaller">
                        <option value="Cultural">Cultural</option>
							<option value="Deportivo">Deportivo</option>
							<option value="Academico">Academico</option>
                    </select>
						<br><br><br>
					<div class="modal-footer">
						 <li>
					<!-- link -->
						<a class="nav-link" href="/mostrar_talleres"> Cancelar</a>
						</li>
						<br>
						<input type="submit"  value="Guardar">
					</div>

				</div>
			</div>
		</div>
	</div>